#btnHome {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#btnHome:hover {
  color: #3078c6;
}

#btnContact {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#btnContact:hover {
  color: #3078c6;
}

#btnRecentProject {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#btnRecentProject:hover {
  color: #3078c6;
}

#btnProfile {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#btnProfile:hover {
  color: #3078c6;
}

body {
  background-color: white;
}

#hero {
  background-image: url("Assets/heroimg6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  width: auto;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pdfResume {
  color: white;
  font-weight: bold;
}

#pdfResume:hover {
  color: #3078c6;
}

#knowMore {
  position: absolute;
  top: 30%;
  left: 12%;
  height: auto;
}

#knowMore h2 {
  color: #3078c6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#knowMore p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#btnKnowMore {
  color: white;
  font-size: large;
  background-color: #3078c6;
}

ul {
  list-style-type: none;
}

#aboutMe {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #3078c6;
}
